---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sayfa 8";
---
<BaseLayout title={pageTitle}>
  <h2>Sayfa 8 Başlığı</h2>
  <p>Bu sayfa 8'in içeriğidir. Consectetur adipiscing elit...</p>
  <p>Diğer sayfalara linkler:</p>
  <ul>
    <li><a href="/sayfa1">Sayfa 1'e git</a></li>
    <li><a href="/sayfa2">Sayfa 2'ye git</a></li>
    <li><a href="/sayfa3">Sayfa 3'e git</a></li>
    <li><a href="/sayfa4">Sayfa 4'e git</a></li>
    <li><a href="/sayfa5">Sayfa 5'e git</a></li>
    <li><a href="/sayfa6">Sayfa 6'ya git</a></li>
    <li><a href="/sayfa7">Sayfa 7'ye git</a></li>
    <li><a href="/sayfa9">Sayfa 9'a git</a></li>
    <li><a href="/sayfa10">Sayfa 10'a git</a></li>
    <li><a href="/sayfa11">Sayfa 11'e git</a></li>
    <li><a href="/sayfa12">Sayfa 12'ye git</a></li>
    <li><a href="/sayfa13">Sayfa 13'e git</a></li>
    <li><a href="/sayfa14">Sayfa 14'e git</a></li>
    <li><a href="/sayfa15">Sayfa 15'e git</a></li>
    <li><a href="/">Ana Sayfa'ya dön</a></li>
  </ul>
</BaseLayout>