---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Sayfa 2";
---
<BaseLayout title={pageTitle}>
  <h2>Sayfa 2 Başlığı</h2>
  <p>Bu sayfa 2'nin içeriğidir. Consectetur adipiscing elit...</p>
    <p>Diğer sayfalara linkler:</p>
  <ul>
    <li><a href="/sayfa1">Sayfa 1'e git</a></li>
    <li><a href="/sayfa10">Sayfa 10'a git</a></li>
    <li><a href="/">Ana Sayfa'ya dön</a></li>
  </ul>
</BaseLayout>