---
// src/components/Header.astro
---
<header>
    <h1>Basit Blog Sitesi</h1>
    <nav>
      <ul>
        <li><a href="/">Ana Sayfa</a></li>
        <li><a href="/hakkinda">Hakkında</a></li>
        <li><a href="/sayfa1">Sayfa 1</a></li>
        <li><a href="/sayfa5">Sayfa 5</a></li>
        <li><a href="/sayfa10">Sayfa 10</a></li>
         <li><a href="/sayfa15">Sayfa 15</a></li>
      </ul>
    </nav>
  </header>